@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  outline: none;
  box-sizing: border-box;
}

:root {
  /*
  --theme-bg-color: rgba(18 18 18 / 100%); */
  --theme-bg-color: #081B33;
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  /*
  --dropdown-bg: #152642; 03396c*/
  --dropdown-bg: #152642;
  --dropdown-hover: rgb(8 27 51);
  --popup-bg: rgb(22 25 37);
  --search-bg: #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
  --text-color-high: rgba(255 255 255 / 87%);
  --text-color-medium: rgba(255 255 255 / 60%);
  --text-color-disabled: rgba(255 255 255 / 38%%);
  --project-img-height: 400px;
}

.light-mode {
  --theme-bg-color: rgb(255 255 255 / 31%);
  --theme-color: #3c3a3a;
  --inactive-color: #333333;
  --button-inactive: #3c3a3a;
  --search-bg: rgb(255 255 255 / 31%);
  --dropdown-bg: #f7f7f7;
  --overlay-bg: rgb(255 255 255 / 30%);
  --dropdown-hover: rgb(236 236 236);
  --border-color: rgb(255 255 255 / 35%);
  --popup-bg: rgb(255 255 255);
  --hover-menu-bg: rgba(255 255 255 / 35%);
  --scrollbar-bg: rgb(255 253 253 / 57%);
  --content-title-color: --theme-color;
}

body {
  color: var(--text-color-medium);
  margin: auto;
  background-color: var(--theme-bg-color);
  font-family: var(--body-font);
  font-size: 14px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 20px;
}

#body_project, #body_about {
  padding: 20px 20px 20px 20px;
}



#header-image {
  width: 100%;
  background-image: url(img/banner-img.jpeg);
  height: 200px;
  background-position: center;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: xx-large;
  font-weight: normal;
  margin-top: 25px;
  color: var(--text-color-high);
  text-align:center;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

 Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) 
.sticky + .content {
  padding-top: 60px;
}*/

#navbar, #navbar_quote {
  list-style-type: none;
  background-color: var(--dropdown-bg);
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
}

#navbar_quote {
  background-color: var(--theme-bg-color);
}

li.menu {
  float: right;
}

li.menu-title {
  float: none;
}

li.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

li.menu-title div {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

li.menu-title div:hover {
  text-decoration: underline;
}

li.menu a:hover {
  background-color: #506680;
}

/* ABOUT SECTION */

#body_about {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width:100%;
  height:100%;
}

.about {
  /*width: 1200px;
  height:675px;*/
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height:675px;
  background-position: center center;
  background-image: url(img/slovenia_bikepacking.jpeg);
  background-repeat: no-repeat;
  display: flex;
  overflow: auto;
  /*
  background-size: cover;
  flex: 1 1 auto;
  flex-flow: column;*/
  align-items: center;
  justify-content: center;
  border: medium solid #fff8f8;
  border-radius: 25px;
  
}

.box_about {
  background-color: rgba(0,0,0,.6);
  width: 90%;
  color: #fff;
  padding: 20px 20px;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;

}

.box_about:hover {
  background-color: rgba(0,0,0,.8);
}


/* PROJECTS SECTION */

#body_project {
  display:flex; 
  flex-direction:column; 
  align-items: center;
  justify-content: center;
  width:100%;
}

.project_box {
  /*
  background-color: var(--content-bg); */
  background-color: #2F4562;
  border: medium solid var(--theme-bg-color);
  border-radius: 25px;
  width: 80%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  display:flex; 
  flex-direction: row; 
  flex-wrap:nowrap;
  justify-content: flex-start;
}



.project_box:hover {
  background-color: #506680;
}


.project_img {
  order:1;
  /* display: block; */
  /* float:left; */
  height:var(--project-img-height);
  background-repeat: no-repeat; 
  
  margin-left: 0; 
  margin-right: 0;
  margin-right:0px;
  border-radius: 25px;
  /* border: thin solid white; */
  
}

.project_img:hover{
  opacity: 0.8;
}

#girafe {
  background-image: url(img/girafe_main.png);
  min-width:727px;
  /* flex: [flex-grow] [flex-shrink] [flex-basis]; */
  flex: 0 0 727px;
}

/* #girafe_descr {
  min-width:727px;
} */

#deepcinac {
  background-image: url(img/exploratory_GUI_cinac.png);
  min-width:617px;
  flex: 0 0 617px;
}

/* #deepcinac_descr {
  min-width:617px;
} */

.project_descr {
  order: 2;
  /* display: block; */
  padding-left:10px;
  padding-right:10px;
  /* margin: auto; */
  height:var(--project-img-height);
  /* width:100%; */
  color: black; /* var(--theme-bg-color) */
  /* text-align: center; */
  align-content: center;
  font-size:medium;
  line-height: 1.7;
  /* background-color: yellow; */
  overflow:auto;

  display:flex; 
  flex-direction:column; 
  justify-content: flex-start;
}

h3{
  text-align: center;
}

.project_title {
  font-weight: bold;
  color: black;
  font-size: x-large;
  text-align: center;
  margin-bottom:0px;
  margin-top:0px;
  text-decoration: none;
}


.project_title:hover {
  text-decoration: underline;
  color:var(--theme-bg-color);
}

.project_main_text {
  flex: 1 0 auto;
}

@media all and (max-width: 2000px) {
  .project_descr {
    font-size:small;
  }
}

@media all and (max-width: 1600px) {
  .project_box {
    flex-direction: column;
  }

  .project_descr {
    font-size:medium;
  }

  .project_box {
    width:min-content;
    height:min-content;
  }

  #girafe {
    flex: 0 0 400px; 
  }
  #deepcinac {
    flex: 0 0 400px;
  }

  .project_descr {
    height:min-content;
  }

}


hr#project{
  border: 0.5px solid black;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Those two helps to keep the tags at the bottom */
.tags_vertical_filling{
  flex-direction:column; 
  justify-content: flex-start;
}

.tags_empty_space{
  flex: 1 0 auto;
}

.tags_box{
  text-align: center;
  display: flex; 
  justify-content:center;
  flex: 0 0 50px;
  font-size:medium;
  /* background-color: yellow; */
}


#python_tag, #toolbox_tag, #deeplearning_tag, #research_tag, #p_ca_tag {
  /* float:left;  */
  height:28px;
  width:100px;
  border-radius: 20px;
  font-weight: bold;
  vertical-align:middle;
  justify-content: center;
  text-align: center;
  padding:0px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:5px;
}

#python_tag {
  background-color: #005b96;
}

#toolbox_tag {
  background-color: 	#954535;
}

#deeplearning_tag{
  background-color: 	#9F2B68;
}

#research_tag{
  background-color: 	#008000;
}

#p_ca_tag{
  background-color: 	#899499;
}

/* Applies to the element with <... id="someid"> specified. */
#someid {
  font-weight: italic;
}